<div class="background-container"></div>
<div class="mainFlex">
  <div *ngIf="softDrink" class="softDrink-card">
    <div class="image-container">
      <img (load)="imageLoaded[softDrink.id] = true" *ngIf="softDrink"
           [class.visible]="imageLoaded[softDrink.id]"
           [src]="'http://' + environment.apiUrl + '/softdrink/' + softDrink.id + '/image'"
           alt="Cocktail Image"
           class="cocktail-image">
    </div>
  </div>

  <div *ngIf="softDrink" class="details-container">
    <h2>{{ softDrink.strDrink | titlecase }}</h2>
    <div class="ingredients-list">
      <div *ngFor="let ingredient of getIngredients(softDrink)" [routerLink]="formatIngredientURL(ingredient)">
        <img (load)="imageLoaded[ingredient] = true"
             [alt]="ingredient"
             [class.visible]="imageLoaded[ingredient]"
             [src]="'http://' + environment.apiUrl + '/ingredient/' + ingredient + '/image'"
             class="ingredient-image fadeIn">
        <p>{{ ingredient }}</p>
      </div>
    </div>

    <div *ngIf="softDrink" class="instructions">
      <p>{{ softDrink.strInstructions }}</p>
    </div>
  </div>
</div>
