<div class="background-container"></div>
<div class="mainFlex">
  <div *ngIf="softDrink" class="softDrink-card">
    <div class="image-container">
      <img (load)="imageLoaded[softDrink.id] = true"
           (click)="openModal()"
           *ngIf="softDrink"
           [class.visible]="imageLoaded[softDrink.id]"
           [src]="environment.apiUrl + '/softdrink/' + softDrink.id + '/image'"
           alt="Cocktail Image"
           class="cocktail-image">
    </div>
  </div>

  <div *ngIf="softDrink" class="details-container">
    <h2>{{ softDrink.strDrink | titlecase }}</h2>
    <div class="ingredients-list">
      <div *ngFor="let ingredient of getIngredients(softDrink)" [routerLink]="formatIngredientURL(ingredient)">
        <img (load)="imageLoaded[ingredient] = true"
             [alt]="ingredient"
             [class.visible]="imageLoaded[ingredient]"
             [src]="environment.apiUrl + '/ingredient/' + ingredient + '/image'"
             class="ingredient-image fadeIn">
        @if (ingredient == softDrink.strIngredient1 ||
        ingredient == softDrink.strIngredient3 ||
        ingredient == softDrink.strIngredient5) {
          <p class="odd">{{ ingredient }} &nbsp; </p>
        } @else {
          <p class="even">{{ ingredient }} &nbsp; </p>
        }
      </div>
    </div>

    <div *ngIf="softDrink" class="instructions">
      <p>{{ softDrink.strInstructions }}</p>
    </div>
  </div>
</div>


<div class="modal" *ngIf="showModal" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <img [src]="environment.apiUrl + '/softdrink/' + softDrink.id + '/image'" alt="softImage" class="modal-image">
  </div>
</div>

