<div class="background-container"></div>
<div class="mainFlex">
  <div *ngIf="softDrink" class="softDrink-card">
    <div class="image-container">
      <img (click)="openModal()"
           (load)="imageLoaded[softDrink.id] = true"
           *ngIf="softDrink"
           [class.visible]="imageLoaded[softDrink.id]"
           [src]="environment.apiUrl + '/softdrink/' + softDrink.id + '/image'"
           alt="Soft Drink Image"
           class="softDrink-image">
    </div>

  </div>

  <div *ngIf="softDrink" class="details-container">
    <h2>{{ softDrink.strDrink | titlecase }}</h2>
    <div class="ingredients-list">
      <div *ngFor="let ingredient of getIngredients(softDrink)" [routerLink]="formatIngredientURL(ingredient)">
        <img (load)="imageLoaded[ingredient] = true"
             [alt]="ingredient"
             [class.visible]="imageLoaded[ingredient]"
             [src]="environment.apiUrl + '/ingredient/' + ingredient + '/image'"
             class="ingredient-image fadeIn">
        <p *ngIf="ingredient == softDrink.strIngredient1 || ingredient == softDrink.strIngredient3 || ingredient == softDrink.strIngredient5"
           class="odd">
          {{ ingredient }} &nbsp;
        </p>
        <p *ngIf="ingredient !== softDrink.strIngredient1 && ingredient !== softDrink.strIngredient3 && ingredient !== softDrink.strIngredient5"
           class="even">
          {{ ingredient }} &nbsp;
        </p>
      </div>
    </div>

    <div *ngIf="softDrink" class="instructions">
      <p>{{ softDrink.strInstructions }}</p>
    </div>
  </div>
  <div class="favIcon">
    <ng-container *ngIf="isFavourite">
      <a (click)="onRemoveFavouriteSoftDrink(softDrink)" class="clickable"> ⭐</a>
    </ng-container>
    <ng-container *ngIf="!isFavourite">
      <a (click)="onAddFavouriteSoftDrink(softDrink)" class="clickable">➕</a>
    </ng-container>
  </div>
</div>

<!-- Modale -->
<div (click)="closeModal()" *ngIf="showModal" class="modal">
  <div (click)="$event.stopPropagation()" class="modal-content">
    <span (click)="closeModal()" class="close">❌</span>
    <img [src]="environment.apiUrl + '/softdrink/' + softDrink.id + '/image'" alt="softDrink Image" class="modal-image">
  </div>
</div>
