<h2 style="text-align: center">New Personal Cocktail</h2>
<div style="display: flex ; flex-direction: column ; justify-content: space-evenly">
  <div class="formCard">
    <form [formGroup]="personalCocktailForm">
      <div class="formGroup">
        <label for="strDrink">name</label>
        <input formControlName="strDrink" id="strDrink" type="text">
      </div>
      <div class="formGroup">
        <label for="strDrinkThumb">image URL</label>
        <input formControlName="strDrinkThumb" id="strDrinkThumb" type="text">
      </div>
      <div class="formGroup">
        <label for="strIngredient1">1st ingredient</label>
        <textarea formControlName="strIngredient1" id="strIngredient1" type="text"></textarea>
      </div>
      <div class="formGroup">
        <label for="strIngredient2">2nd ingredient</label>
        <textarea formControlName="strIngredient2" id="strIngredient2" type="text"></textarea>
      </div>
      <div class="formGroup">
        <label for="strIngredient3">3rd ingredient</label>
        <textarea formControlName="strIngredient3" id="strIngredient3" type="text"></textarea>
      </div>
      <div class="formGroup">
        <label for="strIngredient4">4th ingredient</label>
        <textarea formControlName="strIngredient4" id="strIngredient4" type="text"></textarea>
      </div>
      <div class="formGroup">
        <label for="strIngredient5">5th ingredient</label>
        <textarea formControlName="strIngredient5" id="strIngredient5" type="text"></textarea>
      </div>
      <div class="formGroup">
        <label for="strIngredient6">6th ingredient</label>
        <textarea formControlName="strIngredient6" id="strIngredient6" type="text"></textarea>
      </div>
      <div class="formGroup">
        <label for="strInstructions">instructions</label>
        <input formControlName="strInstructions" id="strInstructions" type="text">
      </div>

      <div class="action-buttons">
        <button (click)="onSubmitForm()" [disabled]="personalCocktailForm.invalid" type="submit">CREATE</button>
      </div>
    </form>
  </div>
  <div>
    <h2 style="text-align: center">Aperçu :</h2>

    <div style="display: flex ;  flex-direction : row ; justify-content: center ; align-items: center">

      <!--      <div *ngIf="cocktailPreview$ | async as cocktail">-->
      <!--        <div class="cocktail-card">-->
      <!--          <div class="thisFlex"><h2>{{ cocktail.strDrink | titlecase }}</h2>-->
      <!--          <img [src]="cocktail.strDrinkThumb">-->
      <!--          <p>{{ cocktail.strIngredient1 }}</p>-->
      <!--          <p>{{ cocktail.strIngredient2 }}</p>-->
      <!--          <p>{{ cocktail.strIngredient3 }}</p>-->
      <!--          <p>{{ cocktail.strIngredient4 }}</p>-->
      <!--          <p>{{ cocktail.strIngredient5 }}</p>-->
      <!--          <p>{{ cocktail.strIngredient6 }}</p>-->
      <!--          <p>{{ cocktail.strInstructions }}</p>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</div>

