<h2 style="text-align: center">New Personal Cocktail</h2>
<div style="display: flex ; flex-direction: column ; justify-content: space-evenly">
  <div class="formCard">
    <form [formGroup]="personalCocktailForm">
      <div class="formGroup">
        <label for="strDrink">name</label>
        <input formControlName="strDrink" id="strDrink" type="text">
      </div>
      <div class="formGroup">
        <label for="strDrinkThumb">image URL</label>
        <input formControlName="strDrinkThumb" id="strDrinkThumb" type="text">
      </div>
      <div class="formGroup">
        <label for="strIngredient1">first ingredient</label>
        <textarea formControlName="strIngredient1" id="strIngredient1" type="text"></textarea>
      </div>
      <div class="formGroup">
        <label for="strIngredient2">first ingredient</label>
        <textarea formControlName="strIngredient2" id="strIngredient2" type="text"></textarea>
      </div>
      <div class="formGroup">
        <label for="strIngredient3">first ingredient</label>
        <textarea formControlName="strIngredient3" id="strIngredient3" type="text"></textarea>
      </div>
      <div class="formGroup">
        <label for="strIngredient4">first ingredient</label>
        <textarea formControlName="strIngredient4" id="strIngredient4" type="text"></textarea>
      </div>
      <div class="formGroup">
        <label for="strIngredient5">first ingredient</label>
        <textarea formControlName="strIngredient5" id="strIngredient5" type="text"></textarea>
      </div>
      <div class="formGroup">
        <label for="strIngredient6">first ingredient</label>
        <textarea formControlName="strIngredient6" id="strIngredient6" type="text"></textarea>
      </div>
      <div class="formGroup">
        <label for="strInstructions">instructions</label>
        <input formControlName="strInstructions" id="strInstructions" type="text">
      </div>

      <div class="action-buttons">
        <button (click)="onSubmitForm()" type="submit" [disabled]="personalCocktailForm.invalid">CREATE</button>
      </div>
    </form>
  </div>
  <div>
    <h2 style="text-align: center">Aperçu :</h2>

    <div style="display: flex ;  flex-direction : row ; justify-content: center ; align-items: center">

<!--      <div *ngIf="faceSnapPreview$ | async as faceSnap">-->
<!--        <div class="face-snap-card">-->
<!--          <div class="thisFlex"><h2>{{ faceSnap.title | titlecase }}</h2>-->
<!--            <a routerLink="/facesnaps">BACK</a></div>-->
<!--          <p>mis en ligne le {{ faceSnap.createdDate | date: 'd MMMM YYYY' }}</p>-->
<!--          <img [src]="faceSnap.imageUrl">-->
<!--          <p>{{ faceSnap.description }}</p>-->
<!--          <p *ngIf="faceSnap.location; then thenBlock else elseBlock"></p>-->
<!--          <ng-template #thenBlock><p>photo prise à {{ faceSnap.location }}</p></ng-template>-->
<!--          <ng-template #elseBlock><p class="unknownPlace">Emplacement inconnu</p></ng-template>-->

<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>

