<div class="background-container"></div>
<div class="login-container">
  <div *ngIf="message"><p class="alert">{{ message }}</p></div>
<h2 style="color: midnightblue">Please enter your username and password</h2>
  <form (submit)="login()" class="login-form" method="post">
    <div>
      <input [(ngModel)]="credentials.username" name="username" required type="text" placeholder="username">
    </div>
    <div>
      <input [(ngModel)]="credentials.password" name="password" required type="password" placeholder="password">
    </div>
    <button type="submit">Login</button>
  </form>
</div>
<div class="register-link">
  <p>Pas encore de compte ? <a (click)="onCreateAccount()">Créer un compte</a></p>
</div>

<div class="forgot-password-link">
  <p><a (click)="toggleForgotPasswordForm()">Mot de passe oublié ?</a></p>
</div>
<div *ngIf="forgotPasswordVisible">
  <app-forgot-password></app-forgot-password>

</div>
