<div class="background-container"></div>
<div *ngIf="!forgotPasswordVisible" class="login-container">
  <div *ngIf="message"><p class="alert">{{ message }}</p></div>
<h2 style="color: midnightblue">Please enter your username and password</h2>
  <form (submit)="login()" class="login-form" method="post">
    <div>
      <input [(ngModel)]="credentials.username" name="username" required type="text" placeholder="username">
    </div>
    <div>
      <input [(ngModel)]="credentials.password" name="password" required type="password" placeholder="password">
    </div>
    <button type="submit" class="form-button">Login</button>
  </form>
</div>
<div *ngIf="!forgotPasswordVisible" class="action-visible">
<div class="action-link">
  <p><a (click)="onCreateAccount()" class="clickable">Sign Up</a></p>
</div>

<div class="action-link">
  <p class="clickable"><a (click)="toggleForgotPasswordForm()">Forgot password ?</a></p>
</div>
</div>
<div *ngIf="forgotPasswordVisible">
  <app-forgot-password></app-forgot-password>
  <div class="action-link">
    <p class="clickable"><a (click)="toggleForgotPasswordForm()">Cancel</a></p>
  </div>
</div>
