<button (click)="goBack()">Retour</button>

<div class="mainFlex">

  <div *ngIf="cocktails$ | async as cocktails" class="listContainer">
    <h3>Cocktails with this ingredient:</h3>
    <p *ngIf="(cocktails.length === 0)" style="font-style: italic; text-align: center"> no cocktail with that.</p>
    <ul class="threeColumnsRecap" style="list-style-type: none;">
      <li *ngFor="let cocktail of cocktails">
        <a (click)="goToCocktail(cocktail)" class="clickable">
          <img (load)="imageLoaded[cocktail.id] = true" *ngIf="cocktail" [class.visible]="imageLoaded[cocktail.id]"
               [src]="'http://' + [environment.apiUrl] + '/cocktail/' + cocktail.id + '/preview'" alt=""
               class="preview fadeIn">
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="softDrinks$ | async as softDrinks" class="listContainer">
    <h3>Softs with this ingredient:</h3>
    <p *ngIf="(softDrinks.length === 0)" style="font-style: italic; text-align: center"> no soft with that.</p>

    <ul class="threeColumnsRecap" style="list-style-type: none;">
      <li *ngFor="let softDrink of softDrinks">
        <a (click)="goToSoftDrink(softDrink)" class="clickable">
          <img (load)="imageLoaded[softDrink.id] = true" *ngIf="softDrink" [class.visible]="imageLoaded[softDrink.id]"
               [src]="'http://' + [environment.apiUrl] + '/softdrink/' + softDrink.id + '/preview'" alt=""
               class="preview fadeIn">
        </a>
      </li>
    </ul>

  </div>
  <div *ngIf="ingredient" class="ingredient-card">
    <div class="thisFlex"><h3>{{ ingredient.strIngredient | titlecase }}</h3>
      <div>
        <img (load)="imageLoaded[ingredient.id] = true" [alt]="ingredient.strIngredient"
             [class.visible]="imageLoaded[ingredient.id]" [src]="'http://' + [environment.apiUrl] + '/ingredient/'
              + ingredient.strIngredient + '/image'"
             class="pic fadeIn">
      </div>
    </div>
  </div>
  <div class="twoColumns">
    <ng-container *ngIf="ingredient; else loading">
      <div>
        <ng-container *ngIf="ingredient.strDescription; then hasDescription else noDescription"></ng-container>
      </div>
    </ng-container>

    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>

    <ng-template #hasDescription>
      <p
        [innerHTML]="ingredient.strDescription | highlightWords: [ingredient.strIngredient, 'wine', 'rum', 'beer', 'whisky', 'whiskey', 'liquor']"></p>
    </ng-template>

    <ng-template #noDescription>
      <h2>This is some {{ ingredient.strIngredient }}</h2>
    </ng-template>

  </div>

</div>
