.background-container{
  background-image: url('../../../../assets/images/DALL·E 2024-09-03 16.43.32.webp');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  filter: blur(1px) grayscale(10%) opacity(90%);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.main-container {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.3); /* Fond translucide */
  backdrop-filter: blur(5px) grayscale(50%); /* Effet de flou */
  border-radius: 15px; /* Coins arrondis */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ombre portée */
  display: flex;
  flex-direction: column; /* Les blocs sont organisés verticalement */
  align-items: center; /* Centre les éléments */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes de taille égale */
  gap: 20px; /* Espace entre les colonnes */
  width: 100%; /* Prend toute la largeur disponible */
  margin-bottom: 30px; /* Espace sous la grille */
  align-items: start; /* Aligne les éléments au début de la grille */
}

.list-container {
  background-color: rgba(35, 92, 113, 0.2);
  border-radius: 10px; /* Coins arrondis */
  backdrop-filter: blur(10px);
  padding: 15px; /* Espace intérieur */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  height: 350px; /* Hauteur fixe pour correspondre à la taille de l'image */
  overflow-y: auto; /* Ajoute un scroll si le contenu déborde */
}

.ingredient-container{
  padding: 15px; /* Espace intérieur */
  height: 350px; /* Hauteur fixe pour correspondre à la taille de l'image */
}

.ingredient-image {
  width: 100%; /* Image prend toute la largeur du conteneur */
  height: 350px; /* Ajuste la hauteur de l'image */
  object-fit: contain;
  transition: transform 0.5s ease;
}


.ingredient-image:hover {
  transform: scale(1.05); /* Légère augmentation au survol */
}

.list-container h3 {
  font-size: 1.5em; /* Taille de la police */
  margin-bottom: 15px; /* Espace sous le titre */
  color: #234066; /* Couleur de la charte graphique */
}

.no-content {
  font-style: italic;
  text-align: center;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes dans la liste */
  grid-gap: 10px; /* Espace entre les éléments */
  list-style-type: none;

}

.preview {
  width: 80px; /* Taille des images */
  height: 80px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.preview:hover {
  transform: scale(1.2); /* Zoom au survol */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.description-container {
  width: 100%;
  background: rgba(255, 255, 255, 0.3); /* Fond translucide */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.description {
  max-height: 250px; /* Hauteur maximale pour le défilement */
  overflow-y: auto; /* Scroll pour les longs textes */
  padding: 20px;
  font-size: 1.2em;
  line-height: 1.8;
  color: #12343b;
  text-align: justify;
}

button{
  position: absolute;
  z-index: 1000;
  margin: 10px;
  box-shadow: 10px 10px 10px rgba(2, 2, 5, 0.4);
  width: 5%;
  height: 9%;
  border-radius: 100%;
  background-image: linear-gradient(#235c71 0, #15404f 100%);

}
