<div>
  <div *ngIf="softDrink"
       class="softDrink-card"
       [ngClass]="{'active': mouseIsOn, 'inactive': !mouseIsOn}"
       (mouseleave)="onMouseLeave()">

    <div class="thisGrid">
      <div class="titleRow">
        <h3>{{ truncateText(softDrink.strDrink | titlecase, 25) }}</h3>
      </div>

      <img (click)="goToSoftDrink()" (mouseenter)="onMouseEnter()"
           (load)="imageLoaded[softDrink.id] = true"
           *ngIf="softDrink" [class.visible]="imageLoaded[softDrink.id]"
           [src]="'http://' + [environment.apiUrl] + '/softdrink/' + softDrink.id + '/image'" alt="Soft Image"
           class="clickable fadeIn">
    </div>

    <div [ngClass]="{'floating-window': true, 'fadeIn': mouseIsOn, 'fadeOut': !mouseIsOn}">
      <div class="favIcon">
        @if (isFavourite) {
          <a class="clickable" (click)="onRemoveFavouriteSoftDrink(softDrink)"> ⭐</a>
        } @else {
          <a class="clickable" (click)="onAddFavouriteSoftDrink(softDrink)">➕</a>
        }
      </div>

      <div class="ingBlock">
        <ng-container *ngFor="let ingredient of getIngredients(softDrink); let i = index; let last = last;">
          <p [routerLink]="'/juxbar/detailledingredient/' + ingredient" class="ingredient clickable">
            {{ ingredient }}<span *ngIf="!last">, </span>
          </p>
        </ng-container>
      </div>
    </div>
  </div>
</div>
