<div *ngIf="softDrink" class="softDrink-card ">
  <div class="thisFlex">
    <div class="titleRow">
      <div class="favIcon">
        @if (isFavourite) {
          <a class="clickable" (click)="onRemoveFavouriteSoftDrink(softDrink)">⭐</a>
        } @else {
          <a class="clickable" (click)="onAddFavouriteSoftDrink(softDrink)">➕</a>
        }
      </div>
      <h3>{{ truncateText(softDrink.strDrink | titlecase, 25) }}</h3>
    </div>

    <img (click)="goToSoftDrink()" *ngIf="softDrink"
         [src]="'http://' + [environment.apiUrl] + '/softdrink/' + softDrink.id + '/image'" alt="Soft Image"
         class="clickable fadeIn" [class.visible]="imageLoaded[softDrink.id]"
    (load)="imageLoaded[softDrink.id] = true"></div>
  <div class="ingBlock">
    <ng-container *ngFor="let ingredient of getIngredients(softDrink); let i = index; let last = last;">
      <p [routerLink]="'/juxbar/detailledingredient/' + ingredient" class="ingredient clickable">
        {{ ingredient }}<span *ngIf="!last">, </span>
      </p>
    </ng-container>
  </div>

</div>
