<div>
  <div (mouseleave)="onMouseLeave()"
       *ngIf="softDrink"
       [ngClass]="{'active': mouseIsOn, 'inactive': !mouseIsOn}"
       class="softDrink-card">

    <div class="thisGrid">
      <div class="titleRow">
        <h4>{{ truncateText(softDrink.strDrink | titlecase, 15) }}</h4>
      </div>
      <div class="img-container">
      <img (click)="goToSoftDrink()" (load)="imageLoaded[softDrink.id] = true"
           (mouseenter)="onMouseEnter()"
           *ngIf="softDrink" [class.visible]="imageLoaded[softDrink.id]"
           [src]="'http://' + [environment.apiUrl] + '/softdrink/' + softDrink.id + '/image'" alt="Soft Image"
           class="clickable fadeIn">
    </div>
    </div>

    <div [ngClass]="{'floating-window': true, 'fadeIn': mouseIsOn, 'fadeOut': !mouseIsOn}">
      <div class="favIcon">
        @if (isFavourite) {
          <a class="clickable" (click)="onRemoveFavouriteSoftDrink(softDrink)"> ⭐</a>
        } @else {
          <a class="clickable" (click)="onAddFavouriteSoftDrink(softDrink)">➕</a>
        }
      </div>

      <div class="ingBlock">
        <ng-container *ngFor="let ingredient of getIngredients(softDrink); let i = index; let last = last;">
          <p [routerLink]="'/juxbar/detailledingredient/' + ingredient" class="ingredient clickable">
            {{ ingredient }}<span *ngIf="!last">, </span>
          </p>
        </ng-container>
      </div>
    </div>
  </div>
</div>
