<div>
  <div (mouseleave)="onMouseLeave()"
       *ngIf="personalCocktail"
       [ngClass]="{'active': mouseIsOn, 'inactive': !mouseIsOn}"
       class="cocktail-card">

    <div class="thisGrid">
      <div class="titleRow">
        <h4>{{ truncateText(personalCocktail.strDrink | titlecase, 15) }}</h4>
      </div>
      <div class="img-container">
        <img (click)="goToCocktail()" (load)="imageLoaded[personalCocktail.id] = true"
             (mouseenter)="onMouseEnter()"
             *ngIf="personalCocktail" [class.visible]="imageLoaded[personalCocktail.id]"
             [src]="personalCocktail.strDrinkThumb"
             class="clickable fadeIn" alt="">
      </div>
    </div>
    <div [ngClass]="{'floating-window': true, 'fadeIn': mouseIsOn, 'fadeOut': !mouseIsOn}">
      <div class="favIcon">
                <a class="clickable">😁</a>
                <a class="clickable" (click)="onTrashCocktail(personalCocktail)">🗑</a>

      </div>

      <div class="ingBlock">
        <ng-container *ngFor="let ingredient of getIngredients(personalCocktail); let i = index; let last = last;">
          <p [routerLink]="'/juxbar/detailledingredient/' + ingredient" class="ingredient clickable">
            {{ ingredient }}<span *ngIf="!last">, </span>
          </p>
        </ng-container>
      </div>
    </div>
  </div>
</div>
