<div class="background-softdrinkList-container"></div>

<ng-container *ngIf="softDrinks$ | async as softDrinks">

  <div class="searchBlock">

    <button (click)="goDown(letter)" *ngFor="let letter of alphabet" class="alphabet-navigation">{{ letter }}</button>

    <div class="formBlock">
      <form [formGroup]="softDrinkForm" class="softDrinkForm">
        <div class="formGroup">
          <label for="strDrink">Name</label>
          <input formControlName="strDrink" id="strDrink" type="text">
        </div>
        <div class="formGroup">
          <label for="strFirstIngredient">Ingredient</label>
          <input formControlName="strFirstIngredient" id="strFirstIngredient">
        </div>
        <div class="formGroup">
          <label for="strSecondIngredient">Ingredient</label>
          <input formControlName="strSecondIngredient" id="strSecondIngredient">
        </div>
        <div class="formGroup">
          <label for="strThirdIngredient">Ingredient</label>
          <input formControlName="strThirdIngredient" id="strThirdIngredient">
        </div>
      </form>
    </div>
  </div>
  <div class="thisFlex">

    <app-soft-drink *ngFor="let softDrink of softDrinks" @simpleFadeInAnimation
                    [attr.id]="getAnchorId(softDrink.strDrink)"
                    [softDrink]="softDrink"></app-soft-drink>

  </div>
  <div *ngIf="softDrinks.length === 0" class="no-content">
    No Soft found
  </div>


</ng-container>
