<div class="personalCocktail-management">
  <div userlistBlock>

    <h2>Personal Cocktail Management</h2>
      <div class="innerFrameBold">
        <h3>Select a user</h3>
        <select [(ngModel)]="selectedUsername" (ngModelChange)="onUserDetails()" class="userSelect" >
          <option *ngFor="let username of usernames" [value]="username">
            {{ username }}
          </option>
        </select>

    </div >


    <div *ngIf="isLoading" class="no-content">waiting for cocktail list</div>
    <div *ngIf="personalCocktails">
    <div *ngIf="!isLoading && personalCocktails.length > 0">
      <div *ngFor="let personalCocktail of personalCocktails" >
        <div *ngIf="personalCocktail.state == State.SHOWED" class="cocktailLineShowed">
            <p class="cocktailName">{{ personalCocktail.strDrink }}</p>
          <img [src]="personalCocktail.strDrinkThumb" class="very-tiny-image">

        <p> this Cocktail is visible </p>
          <button (click)="onTrashPersonalCocktail(personalCocktail.id)" class="trashUntrashBtn">TRASH</button>

        </div>
        <div *ngIf="personalCocktail.state == State.TRASHED" class="cocktailLineTrashed ">
            <p class="cocktailName">{{ personalCocktail.strDrink }}</p>
            <img [src]="personalCocktail.strDrinkThumb" class="very-tiny-image">
          <p>this cocktail is in trash </p>
          <button (click)="onRestorePersonalCocktail(personalCocktail.id)" class="trashUntrashBtn">RESTORE</button>

        </div>
      </div>

    </div></div>
    <div *ngIf="!isLoading && personalCocktails?.length === 0">
      <p class="cocktailLineTrashed">No personal cocktails found for this user.</p>
    </div>
  </div>
</div>




