<div>
  <div (mouseleave)="onMouseLeave()"
       *ngIf="cocktail"
       [ngClass]="{'active': mouseIsOn, 'inactive': !mouseIsOn}"
       class="cocktail-card">

    <div class="thisGrid">
      <div class="titleRow">
        <h4>{{ truncateText(cocktail.strDrink | titlecase, 15) }}</h4>
      </div>

      <div class="img-container">
        @if (!imageLoaded[cocktail.id]) {
          <p class="Loader">LOADING</p>

        }

        <img (click)="goToCocktail()" (load)="imageLoaded[cocktail.id] = true"
             (mouseenter)="onMouseEnter()"
             *ngIf="cocktail" [class.visible]="imageLoaded[cocktail.id]"
             [lazyLoad]="[environment.apiUrl] + '/cocktail/' + cocktail.id + '/image'" alt="Cocktail Image"
             class="clickable fadeIn">
      </div>

    </div>
    <div [ngClass]="{'floating-window': true, 'fadeIn': mouseIsOn, 'fadeOut': !mouseIsOn}">
      <div class="favIcon">
        @if (isFavourite) {
          <a class="clickable" (click)="onRemoveFavouriteCocktail(cocktail)"> ⭐</a>
        } @else {
          <a class="clickable" (click)="onAddFavouriteCocktail(cocktail)">➕</a>
        }
      </div>

      <div class="ingBlock">
        <ng-container *ngFor="let ingredient of getIngredients(cocktail); let i = index; let last = last;">
          <p [routerLink]="'/juxbar/detailledingredient/' + ingredient" class="ingredient clickable listedItems" title="{{ingredient}}">
            {{ truncateText(ingredient, 10) }}<span *ngIf="!last">, </span>
          </p>
        </ng-container>
      </div>
    </div>
  </div>
</div>
