<div class="user-management">
  <div userlistBlock>

    <h2>User Management</h2>
    <div class="innerFrameBold">
      <h3>create user : </h3>
      <form #userForm="ngForm" (ngSubmit)="onCreateUser(userForm)">
        <label for="username"></label>
        <input class="inputfield" id="username" name="username" ngModel placeholder="username" required type="text">

        <label for="password"></label>
        <input class="inputfield" id="password" name="password" ngModel placeholder="password" required type="password">

        <button class="form-button" type="submit">Create User</button>
      </form>
    </div>


    <p>➖➖➖➖➖➖➖➖➖➖➖➖➖</p>
    <div class="innerFrameBold">
      <h3>Select an existing user</h3>
      <select (change)="onUserDetails()" [(ngModel)]="selectedUsername" class="userSelect">
        <option *ngFor="let username of usernames" [value]="username">
          {{ username }}
        </option>
      </select>

      <div *ngIf="showOptions">
        <div [class.active]="showOptions" class="showOptions">
          <h3>{{ detailedUser.username }}</h3>
          <h4 *ngIf="detailedUser.active" class="activeUser">status : ACTIVE</h4>
          <h4 *ngIf="!detailedUser.active" class="inactiveUser">status : INACTIVE</h4>
          <div *ngIf="detailedUser.active">
            <button (click)="onDeactivate()" class="form-button">Disable</button>
            <p>change password : </p>
            <form #pwdForm="ngForm" (ngSubmit)="onChangePassword(pwdForm)">
              <label for="newPassword"></label>
              <input class="inputfield" id="newPassword" name="newPassword" ngModel placeholder="new password" required
                     type="password">
              <label for="newPasswordBis"></label>
              <input class="inputfield" id="newPasswordBis" name="newPasswordBis" ngModel placeholder="confirm" required
                     type="password">
              <button class="form-button" type="submit">OK</button>
            </form>
          </div>
          <div *ngIf="!detailedUser.active">

            <button (click)="onReactivate()" class="form-button">Restore</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


