<div class="background-container"></div>

<div class="profile-container">
  <div class="user-framescontainer">
    <div class="userFrame">
      <div class="frame">
        <div *ngIf="juxbarUser">
          <p><strong>{{ juxbarUser.username }}</strong></p>
          @if (!juxbarUser.profilePicture) {
            <img src="assets/icons/cockIcon.webp" class="userPic" alt="">
          } @else {
            <img src='{{environment.apiUrl}}/user/{{juxbarUser.username}}/mypicture' class="userPic" alt="">
          }
          <p>{{ juxbarUser.email }}</p>
          @if (!juxbarUser.aboutMeText) {
            <p class="about">"I am {{ juxbarUser.username }}"</p>
          } @else {
            <p class="about">"{{ juxbarUser.aboutMeText }}"</p>
          }

          <button (click)="openEditModal()">Edit Profile</button>
          <button (click)="toggleAccountManager()">Manage Account</button>
        </div>
      </div>

      <div *ngIf="showAccountManager">
        <div class="frame">
          <app-account-manager></app-account-manager>
        </div>
      </div>
    </div>

  </div>


  <div class="cocktail-framescontainer">
    <div *ngIf="isLoading"></div>
    <div class="mainFrame">

      <div *ngIf="!isLoading" [ngClass]="{'this-animation': !isLoading}" class="frame">
        <h2>Your creations</h2>
        <ng-container *ngIf="personalCocktails">
          <div class="thisFlex">
            @if (personalCocktails.length == 0) {
              <p>no personal drinks for now</p>
            }
            <ng-container *ngFor="let personalCocktail of personalCocktails">
              @if (personalCocktail.state == State.SHOWED) {
                <app-personalCocktail
                  [personalCocktail]="personalCocktail">
                </app-personalCocktail>

              }
            </ng-container>
          </div>
        </ng-container>
      </div>

      <div *ngIf="!isLoading" [ngClass]="{'this-animation': !isLoading}" class="frame">
        <h2>Your favourites cocktails</h2>
        <ng-container *ngIf="favouriteCocktails">
          <div class="thisFlex">
            @if (favouriteCocktails.length == 0) {
              <p>no favourite cocktail for now</p>
            }
            <div *ngFor="let favouriteCocktail of favouriteCocktails"
                 [ngClass]="{'fade-out': true, 'fade-out-leave': removingCocktailIds.has(favouriteCocktail.id)}">
              <app-cocktail [cocktail]="favouriteCocktail"></app-cocktail>
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngIf="!isLoading" [ngClass]="{'this-animation': !isLoading}" class="frame">
        <h2>Your favourites softdrinks</h2>
        <ng-container *ngIf="favouriteSoftDrinks">
          <div class="thisFlex">
            @if (favouriteSoftDrinks.length == 0) {
              <p>no favourite softdrink for now</p>
            }
            <div *ngFor="let favouriteSoftDrink of favouriteSoftDrinks"
                 [ngClass]="{'fade-out': true, 'fade-out-leave': removingSoftDrinkIds.has(favouriteSoftDrink.id)}">
              <app-soft-drink [softDrink]="favouriteSoftDrink"></app-soft-drink>
            </div>
          </div>
        </ng-container>

      </div>

    </div>
  </div>
</div>
<div style="margin-top: 150px"></div>


<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span (click)="closeEditModal()" class="close">&times;</span>
    <h2>Edit Profile</h2>

    <h3 class="modal-h3">About me :</h3>
    <form (ngSubmit)="onSubmitAboutMe()" [formGroup]="aboutMeForm">
      @if (juxbarUser.aboutMeText) {
        <textarea formControlName="aboutMeText" placeholder="{{juxbarUser.aboutMeText}}"></textarea>
      } @else {
        <textarea formControlName="aboutMeText" placeholder="Write something about yourself..."></textarea>
      }
      <button type="submit">Update About Me</button>
    </form>

    <form (ngSubmit)="onSubmitProfilePicture()">
      <h3 class="modal-h3">Profile picture :</h3>
      <label for="profilePicture"></label>
      <input (change)="onFileSelected($event)" accept="image/jpeg, image/webp" id="profilePicture" type="file">
      <button [disabled]="!selectedFile" type="submit">Update Profile Picture</button>
    </form>
  </div>
</div>
