<div class="user-management">

      <h4>Change my password</h4>
      <form #pwdForm="ngForm" (ngSubmit)="onChangePassword(pwdForm)">
        <label for="newPassword"></label>
        <input id="newPassword" name="newPassword" ngModel required type="password" class="inputfield" placeholder="new password">
        <label for="newPasswordBis"></label>
        <input id="newPasswordBis" name="newPasswordBis" ngModel required type="password" class="inputfield" placeholder="confirm">
        <button class="form-button" type="submit">OK</button>
      </form>
    </div>

    <h3 class="warning">delete my account</h3>
  <button (click)="openDeleteModal()">DELETE</button>

<app-custom-modal (confirm)="handleConfirmation($event)" *ngIf="showDeleteModal"
                  [message] = deleteAccountWarning>
  <div modal-body>
    <h3 class="warning">This action is irreversible.</h3>
  </div></app-custom-modal>
