<div class="user-management">

  <h4>Change my password</h4>
  <form #pwdForm="ngForm" (ngSubmit)="onChangePassword(pwdForm)">
    <label for="newPassword"></label>
    <input class="inputfield" id="newPassword" name="newPassword" ngModel placeholder="new password" required
           type="password">
    <label for="newPasswordBis"></label>
    <input class="inputfield" id="newPasswordBis" name="newPasswordBis" ngModel placeholder="confirm" required
           type="password">
    <button class="form-button" type="submit">OK</button>
  </form>
</div>

<h3 class="warning">delete my account</h3>
<button (click)="openDeleteModal()">DELETE</button>

<!-- Modale de confirmation -->
<div *ngIf="showDeleteModal" class="modal-background">
  <div class="modal-content">
    <h2>Delete Account</h2>
    <h3>Are you sure you want to delete your account? <br>
      All you personal data, favourites, and custom cocktails<br>
      will be erased from our database<span class="warning">This action is irreversible.</span></h3>
    <div class="modal-buttons">
      <button (click)="onDeleteConfirmed()" class="modal-button">Yes</button>
      <button (click)="closeDeleteModal()" class="modal-button">No</button>
    </div>
  </div>
</div>
