<div class="background-cocktailList-container"></div>
<div id="top"></div>

<ng-container *ngIf="isLoading;  then loadingBlock; else loadedBlock"></ng-container>
<ng-template #loadingBlock>
  <h1 class="loading">LOADING</h1>
</ng-template>

<ng-template #loadedBlock>
  <div *ngIf="!isLoading" [ngClass]="{'this-animation': !isLoading}">
    <ng-container *ngIf="filteredCocktails$ | async as filteredCocktails;">
      <div class="searchBlock">
        <!--        <div class="alphabetBlock">-->
        <button (click)="filterByLetter(letter)" *ngFor="let letter of alphabet"
                [class.active]="letter === selectedLetter" class="alphabet-navigation">{{ letter }}
        </button>
        <!--        </div>-->
        <div class="formBlock">
          <form [formGroup]="cocktailForm" class="cocktailForm">
            <div class="formGroup">
              <label for="strDrink">Nom</label>
              <input formControlName="strDrink" id="strDrink" type="text">
            </div>
            <div class="formGroup">
              <label for="strFirstIngredient">Ingrédient</label>
              <input formControlName="strFirstIngredient" id="strFirstIngredient">
            </div>
            <div class="formGroup">
              <label for="strSecondIngredient">Ingrédient</label>
              <input formControlName="strSecondIngredient" id="strSecondIngredient">
            </div>
            <div class="formGroup">
              <label for="strThirdIngredient">Ingrédient</label>
              <input formControlName="strThirdIngredient" id="strThirdIngredient">
            </div>
          </form>
        </div>
      </div>

      <div *ngIf="filteredCocktails.length === 0" class="nothing">
        No cocktails found
      </div>

      <div class="thisFlex">
        <app-cocktail *ngFor="let cocktail of filteredCocktails; trackBy: trackByCocktails"
                      @simpleFadeInAnimation [cocktail]="cocktail">
        </app-cocktail>
      </div>
    </ng-container>
  </div>
</ng-template>
