

.this-animation {
  animation-delay: 1s !important;
}

.searchBlock{
  position: sticky;
  top: 10px;
  z-index: 1001;
  background-color: rgba(white, 0.2);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 105px;
  margin-right: 80px;
  border-radius: 1%;
}

.alphabet-navigation {
  position: sticky;
  height: 65px;
  //margin-bottom: 20px;
  flex-direction: row;
  background-image: linear-gradient(rgb(193, 177, 141) 0, rgb(157, 146, 103) 100%);
  color: darkslategray;
  z-index: 1000;
}

.alphabetBlock{
  margin-left: 25px ;

}
button{
  height: 60px;
  width: 25px;
  margin-left: 2px;
  padding : 3px;
  background: white;
}


h2 {
  padding-top: 70px; /* Adjust according to your header's height */
  margin-top: -70px; /* Same as padding-top but negative */
}
.cocktailForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.formGroup {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width : 100px;
  justify-content: center;
}
.initialBlock {

}
.loading{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  animation: breatheAnimation 3s infinite;

}
@keyframes breatheAnimation {
 100% {
    font-size: 124px;
  }
  0% {
    font-size: 8px;
  }
}

.formBlock {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  color: darkslategray;
  //position: sticky;
  //top: 15px;
  border-radius: 5px;
  width: 45%;
  height: 65px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(193, 177, 141) 0, rgb(157, 146, 103) 100%);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 25px;
  opacity: 1;
}


.thisFlex {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}





.formGroup {

  display: flex;
  flex-direction: column;
}
