.mainFlex{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ingredient-card {
  position: relative; /* Permet le positionnement absolu des éléments enfants par rapport à celui-ci */
  padding-bottom: 30px; /* Fournit de l'espace pour le paragraphe positionné absolument */

  border-radius: 5% 10%;
  width: 400px;
  height: 550px;
  margin: 30px;
  font-size: 2em;
  color: wheat;

  background: #15404f;
  box-shadow: 5px 5px 20px black;
}
.thisFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.twoColumns {
  font-size: 1.2em;
  text-align: justify;
  padding-top: 40px;
  margin-right: 40px;
  margin-left: 50px;
  display: block; /* Changez flex ou grid à block si nécessaire */
  -webkit-column-count: 2; /* Pour les navigateurs WebKit */
  -moz-column-count: 2;    /* Pour Firefox */
  column-count: 2;         /* Standard */
  -webkit-column-gap: 15px; /* Pour les navigateurs WebKit */
  -moz-column-gap: 15px;    /* Pour Firefox */
  column-gap: 25px;         /* Standard */
  max-height: 700px;
  overflow-y: auto;
}

p {
  margin: 0; /* Réinitialise les marges par défaut des paragraphes pour un meilleur contrôle */
  padding: 0 15px; /* Ajuste le padding si nécessaire pour l'espacement à l'intérieur des cellules de la grille */
}
img {

  width: 580px;
  height: 580px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 15%;
  filter: drop-shadow(15px 10px 10px rgba(0,0,0,1));
  -webkit-transition: all 0.8s ease;

}
img:hover{
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: 0.8s ease;
}
.instructions {
  font-weight: bold;
  position: absolute;
  bottom: 40px; /* Ajustez selon le besoin pour la distance au bas du conteneur */
  left: 0;
  right: 0;
  padding: 0 15px; /* Ajustez pour le padding intérieur */
  text-align: center; /* Centre le texte horizontalement */
}
button{
  position: relative;
  width: 150px;
  margin-left: 10px;


}
