<div class="mainFlex">
  <button (click)="goBack()">Retour</button>

  <div *ngIf="ingredient" class="ingredient-card">
    <div class="thisFlex"><h3>{{ ingredient.strIngredient | titlecase }}</h3>
      <div>
        <img [alt]="ingredient.strIngredient" [src]="'http://' + [environment.apiUrl] + '/ingredient/'
   + ingredient.strIngredient + '/image'" class="pic">
      </div>
    </div>
  </div>
  <div class="twoColumns">
    <div>
      <h2 *ngIf=!ingredient.strDescription>This is some {{ ingredient.strIngredient }}</h2>
      <p
        *ngIf=ingredient.strDescription
        [innerHTML]="ingredient.strDescription | highlightWords: [ingredient.strIngredient, 'wine', 'rum', 'beer', 'whisky', 'whiskey', 'liquor']">{{ ingredient.strDescription }}</p>


    </div>
  </div>


</div>
