<div class="mainFlex">
  <button (click)="goBack()">Retour</button>

<div  class="ingredient-card" *ngIf="ingredient">
  <div class="thisFlex"><h2>{{ ingredient.strIngredient | titlecase }}</h2>
    <div>
    <img class="pic" [src]="'http://localhost:8080/ingredient/'
   + ingredient.strIngredient + '/image'" [alt]="ingredient.strIngredient">
  </div>
  </div>
  </div>
  <div class="twoColumns">
    <div ><p [innerHTML]="ingredient.strDescription | highlightWords: [ingredient.strIngredient, 'wine', 'rum', 'beer', 'whisky', 'whiskey', 'liquor']"
             *ngIf="ingredient.strDescription">{{ingredient.strDescription}}</p>
  </div>
  </div>


</div>
