<div *ngIf="cocktail" class="cocktail-card">
  <div class="thisFlex"><h2>{{ cocktail.strDrink | titlecase }}</h2>
    <img class="clickable" (click)="goToCocktail()"
            *ngIf="cocktail" [src]="'http://localhost:8080/cocktail/' + cocktail.id + '/image'" alt="Cocktail Image"/></div>
  <div class="twoColumns">
    <p *ngFor="let ingredient of getIngredients(cocktail)" class="clickable"
       [routerLink]="'/juxbar/detailledingredient/' + ingredient">{{ ingredient }}</p>
  </div>
  <p class="instructions">{{ truncateText(cocktail.strInstructions, 75) }}</p>
</div>
