<div *ngIf="cocktail" class="cocktail-card">
  <div class="thisFlex"><h3>{{ truncateText(cocktail.strDrink | titlecase, 25)}}</h3>
    <img class="clickable" (click)="goToCocktail()"
            *ngIf="cocktail" [src]="'http://' + [environment.apiUrl] + '/cocktail/' + cocktail.id + '/image'" alt="Cocktail Image"/></div>
  <div class="ingBlock">
    <ng-container *ngFor="let ingredient of getIngredients(cocktail); let i = index; let last = last;">
      <p class="ingredient clickable" [routerLink]="'/juxbar/detailledingredient/' + ingredient">
        {{ ingredient }}<span *ngIf="!last">, </span>
      </p>
    </ng-container>
  </div>

</div>
