.greetings{
  display: flex;
  flex-direction: column;

}

h1{
  background-color: transparent;
  font-size: 5em;
  margin-top: 300px;
  color: wheat;
  text-align: center;
}
.to{
color: burlywood;

}

.juxbar{
  color: goldenrod;
}
.buttonContainer{
  display: flex;
  justify-content: center;

}

.ButtonOne{
  margin-right: 10px;
}
.ButtonTwo{
  margin-left: 10px;
}
