<div @fadeInSlide class = "mainFrame">

  <div class="innerFrame clickable">
    <p>Créer un cocktail</p>

  </div>
  <div class="innerFrame clickable">
    <p (click)="onGoToRandomCocktail()">voir un cocktail au hasard</p>

  </div>
  <div class="innerFrame clickable">
    <p>quoi d'autre</p>

  </div>
  <div class="innerFrame clickable">
    <p>On verra</p>
  </div>

    <div *ngIf="cocktail">
      <h3 class="innerFrame" >le Cocktail du jour : </h3>
      <p class="dayFrame">{{cocktail.strDrink}}</p>
      <img class="clickable dayPic" (click)="onGoToCocktailOfTheDay(cocktail.id)" *ngIf="cocktail" [src]="'http://' + [environment.apiUrl] + '/cocktail/' + cocktail.id + '/preview'"
           alt="Cocktail Image"
           >


    </div>

  </div>


