.mainFrame {
  transition: transform 0.4s ease-out;
  width: 200px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#235c71 0, #15404f 100%);
  position: sticky;
  top: 110px;
  height: 85vh;
  border-radius: 1%;
}

.clickable:hover {
  color: goldenrod;
}

.innerFrame {
  text-align: justify;
  margin-left: 15px;
  margin-right: 60px;
  color: wheat;
}

.innerFrameBold {
  text-align: center;
  font-weight: bold;
  color: wheat;
}

.ingLoader {
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  font-style: italic;
  color: goldenrod;
  animation: breatheAnimation 1s ease-out infinite;

}

@keyframes breatheAnimation {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}


.dayFrame {
  font-weight: bold;
  text-align: center;
  color: palegoldenrod;
}

.dayPic {
  display: block;
  max-width: calc(100% - 25px);
  margin: 0 auto;
  height: auto;
}

.dayPic:hover {
  transform: scale(1.1);
  transition-duration: 0.8s;
  cursor: pointer;
}

.ingredientSelect {
  display: block;
  max-width: calc(100% - 25px);
  margin: 0 auto;

}

