.mainFrame {
  transition: transform 0.4s ease-out;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#235c71 0, #15404f 100%);
  position: sticky;
  top: 110px;
  height: 85vh;
  border-radius: 1%;
}



.clickable:hover {
  color: goldenrod;
}

.innerFrame {

  font-size: 22px;
  font-weight: 500;
  margin: 10px;
  text-align: center;
  border-style: groove;
  border-color: #15404f;
  //margin-left: 15px;
  //margin-right: 60px;
  color: wheat;
  transition: ease-in-out 0.2s;
}

.innerFrame:hover {
  scale: 1.05 !important;
background-color: cadetblue;
}




.ingLoader {
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  font-style: italic;
  color: goldenrod;
  animation: breatheAnimation 1s ease-out infinite;

}

@keyframes breatheAnimation {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}


.dayFrame {
  font-weight: bold;
  text-align: center;
  color: palegoldenrod;
}

.dayPic {
  display: block;
  max-width: calc(100% - 25px);
  margin: 0 auto;
  height: auto;
}

.dayPic:hover {
  transform: scale(1.1);
  transition-duration: 0.8s;
  cursor: pointer;
}

select {
  padding: 8px;
  color: palegoldenrod;
  border-radius: 5px;
  border: 1px solid #235c71;
  font-size: 13px;
  display: block;
  backdrop-filter: blur(10px);
  background-color: cadetblue;
  max-width: calc(100% - 25px);
  margin: 0 auto;
  appearance: none;
  position: relative;
  z-index: 1;

}

select:hover {
  background-color: rgba(35, 92, 113, 0.9);
}

select option {
  background-color: rgba(35, 92, 113, 0.7);
  color: palegoldenrod;
}

select:focus {
  outline: none;
  border-color: #65243f;
}

.innerFrameBold {
  text-align: center;
  font-weight: bold;
  color: wheat;
}

.ingredientSelect {
  position: relative;
  overflow: visible;
  z-index: 10;
}


.devBlock {

  background-color: darkred;
  margin-top: auto;

}

.form-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  background: indianred;
}

.adminButton {
  color: #9d9267;
  height: min-content;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: fit-content;
  background: #186b85;
}
