<div @fadeInSlide class="mainFrame">

  <div *ngIf="cocktail">
    <h3 class="innerFrameBold">Today's Cocktail : </h3>

    <img (click)="onGoToCocktailOfTheDay(cocktail.id)" *ngIf="cocktail"
         [src]="[environment.apiUrl] + '/cocktail/' + cocktail.id + '/preview'"
         alt="Cocktail Image"
         class="clickable dayPic">

    <div>
      <p class="innerFrameBold">++++++++++++++++++++++++++</p>
    </div>

  </div>
  <div>
    <p class="innerFrameBold"> Browse ingredients :</p>
    <div *ngIf="ingredientsList; else loading">
      <select (change)="goToIngredient(ingredient.strIngredient)" [(ngModel)]="ingredient" class="ingredientSelect">
        <option *ngFor="let ingredient of ingredientsList" [ngValue]="ingredient" class="ingOption">
          {{ ingredient.strIngredient }}
        </option>
      </select>
    </div>

    <ng-template #loading>
      <div class="ingLoader">
        <p>LOADING...</p>
      </div>
    </ng-template>
  </div>

  <div class="innerFrame clickable">
    <p (click)="onCreateCocktail()">Create</p>

  </div>
  <div class="innerFrame clickable">
    <p (click)="onGoToRandomCocktail()">Random</p>
  </div>
  <div class="innerFrame clickable">
    <p (click)="onGoToCocktailsAlpha()">All Cocktails</p>
  </div>
  <div class="innerFrame clickable">
    <p (click)="onGoToSoftdrinksAlpha()">All Softs</p>
  </div>
</div>


