.background-container{
background-image: url('../../../assets/images/admin-background.webp');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  filter: blur(1px) grayscale(50%) opacity(10%);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.mainContainer{
  display: flex;
  width: 80vh;
  flex-direction: row;
  justify-content: space-between;
}


