.clickable{
  cursor: pointer;
}
body{
  background: radial-gradient(circle, #15404f 0%, #466b6a 0%, #819688 , #bfc2b1 70%, linen 100%);


            font-family: "Raleway", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300 ;
            font-style: normal;
          }

button {
  background-color: initial;
  background-image: linear-gradient(#235c71 0, #15404f 100%);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: wheat;
  cursor: pointer;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  line-height: 60px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 260px;
}

button:hover {
  opacity: .7;
}

@media screen and (max-width: 1000px) {
  button {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}
