<div class="login-container">
  <h2 style="color: midnightblue">Password Reinitialize</h2>
  <form #recoverForm="ngForm" (submit)="onRecover(recoverForm)" class="login-form">
    <div>
      <input [(ngModel)]="username" name="username" required type="text" placeholder="Pseudo">
    </div>
    <div>
      <select [(ngModel)]="secretQuestion" name="secretQuestion" required>
        <option value="" disabled selected>Sélectionnez une question</option>
        <option *ngFor="let question of secretQuestions" [value]="question">{{ question }}</option>
      </select>
    </div>
    <div>
      <input [(ngModel)]="secretAnswer" name="secretAnswer" required type="text" placeholder="Answer the secret question">
    </div>
    <div>
      <input [(ngModel)]="password" name="password" required type="password" placeholder="New password">
    </div>
    <div>
      <input [(ngModel)]="confirmPassword" name="confirmPassword" required type="password" placeholder="Confirm new pssword">
    </div>

    <button type="submit" class="form-button">Recover</button>
    <p *ngIf="message">{{ message }}</p>
  </form>
</div>

