<div class="login-container">
  <h2 style="color: midnightblue">Password Reinitialize</h2>
  <form #recoverForm="ngForm" (submit)="onRecover(recoverForm)" class="login-form">
    <div>
      <input [(ngModel)]="username" name="username" placeholder="Pseudo" required type="text">
    </div>
    <div>
      <select [(ngModel)]="secretQuestion" name="secretQuestion" required>
        <option disabled selected value="">Sélectionnez une question</option>
        <option *ngFor="let question of secretQuestions" [value]="question">{{ question }}</option>
      </select>
    </div>
    <div>
      <input [(ngModel)]="secretAnswer" name="secretAnswer" placeholder="Answer the secret question" required
             type="text">
    </div>
    <div>
      <input [(ngModel)]="password" name="password" placeholder="New password" required type="password">
    </div>
    <div>
      <input [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm new pssword" required
             type="password">
    </div>

    <button class="form-button" type="submit">Recover</button>
    <p *ngIf="message">{{ message }}</p>
  </form>
</div>

