<div class="background-container"></div>
<div class="mainFlex">
  <div *ngIf="cocktail" class="cocktail-card">
    <div class="image-container">
      <img (click)="openModal()"
           (load)="imageLoaded[cocktail.id] = true"
           *ngIf="cocktail"
           [class.visible]="imageLoaded[cocktail.id]"
           [src]="environment.apiUrl + '/cocktail/' + cocktail.id + '/image'"
           alt="Cocktail Image"
           class="cocktail-image">
    </div>

  </div>

  <div *ngIf="cocktail" class="details-container">
    <h2>{{ cocktail.strDrink | titlecase }}</h2>
    <div class="ingredients-list">
      <div *ngFor="let ingredient of getIngredients(cocktail)" [routerLink]="formatIngredientURL(ingredient)">
        <img (load)="imageLoaded[ingredient] = true"
             [alt]="ingredient"
             [class.visible]="imageLoaded[ingredient]"
             [src]="environment.apiUrl + '/ingredient/' + ingredient + '/image'"
             class="ingredient-image fadeIn clickable">
        <p *ngIf="ingredient == cocktail.strIngredient1 || ingredient == cocktail.strIngredient3 || ingredient == cocktail.strIngredient5"
           class="odd">
          {{ ingredient }} &nbsp;
        </p>
        <p *ngIf="ingredient !== cocktail.strIngredient1 && ingredient !== cocktail.strIngredient3 && ingredient !== cocktail.strIngredient5"
           class="even">
          {{ ingredient }} &nbsp;
        </p>
      </div>

    </div>

    <div *ngIf="cocktail" class="instructions">
      <p>{{ cocktail.strInstructions }}</p>
    </div>
  </div>
  <div class="favIcon">
    <ng-container *ngIf="isFavourite">
      <a (click)="onRemoveFavouriteCocktail(cocktail)" class="clickable"> ⭐</a>
    </ng-container>
    <ng-container *ngIf="!isFavourite">
      <a (click)="onAddFavouriteCocktail(cocktail)" class="clickable">➕</a>
    </ng-container>
  </div>
</div>

<!-- Modale -->
<div (click)="closeModal()" *ngIf="showModal" class="modal">
  <div (click)="$event.stopPropagation()" class="modal-content">
    <span (click)="closeModal()" class="close">❌</span>
    <img [src]="environment.apiUrl + '/cocktail/' + cocktail.id + '/image'" alt="Cocktail Image" class="modal-image">
  </div>
</div>
