<div class="background-container"></div>
<div class="mainFlex">
  <div *ngIf="cocktail" class="cocktail-card">
    <div class="image-container">
      <img (load)="imageLoaded[cocktail.id] = true"
           (click)="openModal()"
           *ngIf="cocktail"
           [class.visible]="imageLoaded[cocktail.id]"
           [src]="environment.apiUrl + '/cocktail/' + cocktail.id + '/image'"
           alt="Cocktail Image"
           class="cocktail-image">
    </div>

  </div>

  <div *ngIf="cocktail" class="details-container">
    <h2>{{ cocktail.strDrink | titlecase }}</h2>
    <div class="ingredients-list">
      <div *ngFor="let ingredient of getIngredients(cocktail)" [routerLink]="formatIngredientURL(ingredient)">
        <img (load)="imageLoaded[ingredient] = true"
             [alt]="ingredient"
             [class.visible]="imageLoaded[ingredient]"
             [src]="environment.apiUrl + '/ingredient/' + ingredient + '/image'"
             class="ingredient-image fadeIn clickable">
        <p class="odd" *ngIf="ingredient == cocktail.strIngredient1 || ingredient == cocktail.strIngredient3 || ingredient == cocktail.strIngredient5">
          {{ ingredient }} &nbsp;
        </p>
        <p class="even" *ngIf="ingredient !== cocktail.strIngredient1 && ingredient !== cocktail.strIngredient3 && ingredient !== cocktail.strIngredient5">
          {{ ingredient }} &nbsp;
        </p>
      </div>

    </div>

    <div *ngIf="cocktail" class="instructions">
      <p>{{ cocktail.strInstructions }}</p>
    </div>
  </div>
  <div class="favIcon">
    <ng-container *ngIf="isFavourite">
      <a class="clickable" (click)="onRemoveFavouriteCocktail(cocktail)"> ⭐</a>
    </ng-container>
    <ng-container *ngIf="!isFavourite">
      <a class="clickable" (click)="onAddFavouriteCocktail(cocktail)">➕</a>
    </ng-container>
  </div>
</div>

<!-- Modale -->
<div class="modal" *ngIf="showModal" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">❌</span>
    <img [src]="environment.apiUrl + '/cocktail/' + cocktail.id + '/image'" alt="Cocktail Image" class="modal-image">
  </div>
</div>
