<div class="mainFlex">


  <div *ngIf="cocktail" class="cocktail-card">
    <div class="thisFlex"><h2>{{ cocktail.strDrink | titlecase }}</h2>
      <img (load)="imageLoaded[cocktail.id] = true" *ngIf="cocktail"
           [class.visible]="imageLoaded[cocktail.id]" [src]="'http://' + [environment.apiUrl] + '/cocktail/' + cocktail.id + '/image'"
           alt="Cocktail Image"
           class="fadeIn">
      <button (click)="goBack()">Retour</button>
    </div>


  </div>
  <div *ngIf="cocktail" class="ingredientList clickable">
    <div *ngFor="let ingredient of getIngredients(cocktail)" [routerLink]="'/juxbar/detailledingredient/' + ingredient"
    ><img (load)="imageLoaded[ingredient] = true" [alt]="ingredient" [class.visible]="imageLoaded[ingredient]" [src]="'http://' + [environment.apiUrl] + '/ingredient/'
   + ingredient + '/image'" class="pic fadeIn">
      <p> {{ ingredient }} </p></div>

  </div>

  <div *ngIf="cocktail" class="instructions">
    <div><p class="instructions">{{ cocktail.strInstructions }}</p>

    </div>
  </div>
</div>
