.mainFrame{
  width: 200px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#235c71 0, #15404f 100%);  position: sticky;
  top: 110px;
  height:85vh ;
  border-radius: 5px;
}

.innerFrame{
  text-align: center;
  color: wheat;
}
